<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login in Page</title>
</head>


<body>
<form id = "loginForm">
    <input type = "text" id="username" name = "username" required>
    <input type = "password" id = "password" name = "password" required>
    <button type = "submit" >Login</button>

</form>
<!--function that confirms if the username and password entered match the ones in the database-->
<script>
    const loginForm = document.getElementById("loginForm")
    const errorMessage = document.getElementById()

    loginForm.addEventListener('submit', function (event){
        event.preventDefault();

        const correctUsername = "Millerm";
        const correctPassword = "miller123";

        const usernameEntered = document.getElementById("username").value
        const passwordEntered = document.getElementById("password").value

        if (usernameEntered === correctUsername && passwordEntered === correctPassword){
            alert("Successful login")
            window.location.href = "home.html";

        }
        else{

        }

    })
</script>
</body>
</html>